@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    line-height: 25px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
.feature-img img{
    width: 100%;
}
.page-link, 
.btn,
.form-control{
    box-shadow:none!important;
}

/* common css */
.section-header, .page-content h2{
    font-size:44px;
    color:#001733;
    font-weight: 800;
}
.sub-header{
    font-size:36px;
    color:#0072B6;
    font-weight: 700;
}
.text-green{
    color:#94CC00;
}
.text-aqua{
    color:#0072B6;
}

/* header-top-nav */
.header-top-nav{
    padding:11px 0;
    background-color: #001733;
}
.header-top-nav ul{
    list-style: none;
    margin:0;
    padding:0;
    position: relative;
    right:0;
    transition: 0.5s;
}
.header-top-nav ul li{
    position: relative;
    display: inline-block;
    line-height: 12px;
    padding-right:15px;
    margin-right:15px;
}
.header-top-nav ul li:after{
    position: absolute;
    right:0;
    content:"";
    height: 100%;
    width: 1px;
    background-color: #ddd;
}
.header-top-nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size:14px;
    color:#fff;
    transition:0.5s;
}
.header-top-nav ul li a:hover, .header-top-nav ul li a.active{
    color:#94CC00;
}

.top-nav-content{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.top-nav-content .search-form{
    color:#fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.top-nav-content .search-form-area{
    position: absolute;
    width: 100%;
    top:-2px;
    right:calc(-100% + 26px);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}



.top-nav-content.search .search-form{
    opacity: 0;
    visibility: hidden;
}
.top-nav-content.search .search-form-area{
    right:0;
    opacity: 1;
    visibility: visible;
    z-index: 99;
}
.top-nav-content.search ul{
    position: relative;
    right:-100%;
}
.control-icon{
    position: relative;
}
.control-icon input{
    height: 100%;
    width: 100%;
    border:1px solid #FFFFFF;
    height: 22px;
    border-radius: 33px;
    background-color: #A3ABB5;
    padding-left:35px; 
    font-size:14px;
    color:#001733;
    opacity: 1;
}
.control-icon input:focus{
    outline: 0;
    box-shadow: none;
}
.control-icon button[type="submit"]{
    position: absolute;
    top:1px;
    left:5px;
    border:0;
    background-color:transparent;
    color:#fff;
} 

/* main-navigation */
.navbar-brand img{
    height: 32px;
    width: auto;
}
.main-navigation.scroll-menu{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}}

.main-navigation .navbar{
    padding:15px 0!important;
}
.main-navigation .nav-link, .banner-navigation .nav-link{
    font-weight: 700;
    color:#001733;
    padding:0!important;
    position: relative;
}
.main-navigation .nav-link:before, .banner-navigation .nav-link:before{
    content:"";
    position: absolute;
    left:0;
    bottom:0;
    width: 0;
    height: 2px;
    background-color: #94CC00;
    transition: 0.5s;
}
.main-navigation .nav-link:hover:before, 
.main-navigation .nav-link.active:before, 
.banner-navigation .nav-link.active:before{
    width: 100%;
}
.main-navigation .dropdown-menu{
    box-shadow: -2px 0px 30px 30px rgb(0 0 0 / 2%);
    border:0;
    min-width: 16rem;
    top:calc(100% + 10px)
}
.main-navigation .dropdown-menu .dropdown-item{
    padding:.65rem 1rem;
}
.main-navigation .dropdown-menu .dropdown-item:focus{
    background-color:#e9ecef;
    color:#1e2125;
}

/* banner */
.banner-item{
    position: relative;
    height: 600px;
}
#video-banner{
    position: absolute;
    top:0;
    right:0;
    object-fit: cover;
    z-index: -1;
}

a.read-more, .read-more{
    display: inline-block;
    color:#001733;
    font-weight: 700;
    font-size:18px;
    text-decoration: none;
    position: relative;
}

.read-more:after{
    content:"";
    position: absolute;
    left:0;
    bottom:-2px;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: 0.5s;
}
.read-more:hover:after{
    background-color:#94CC00;
    width: 100%;
}

.quiries .read-more:hover:after{
    background-color: #fff;
}

/* consultancy */
.consultancy{
    background-color: #f2f2f2;
}
.consultancy .section-header{
    margin-bottom: 40px;
}

.consultancy-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.consultancy-item img{
    height: 50px;
    margin-bottom: 10px;
}
.consultancy-item p{
    margin:15px 0;
}

/* solution */
.solution{
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
}
.solution .sub-header{
    margin:20px 0;
}

.offer-item, 
.capabilities-item{
    position: relative;
    min-height: 450px;
    z-index: 1;
    color:#fff;
    background-size: cover;
    overflow: hidden;
}
.offer-item:after, 
.capabilities-item:after{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(25, 61, 114, 0) 46.35%, rgba(0, 23, 51, 0.8) 85.8%);
    z-index: -1;
}

.offer-item .overlay, 
.capabilities-item .overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-item .overlay::before, 
.offer-item .overlay::after, 
.capabilities-item .overlay::before, 
.capabilities-item .overlay::after{
    content: "";
    position: absolute;
    background-color: #001733;
    left:0;
    top:100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-out;
}
.offer-item .overlay::after, 
.capabilities-item .overlay::after{
    background-color: #94CC00;
    height: 10px;
    top:0;
}
.capabilities-item .overlay::after{
    background-color: #F6AD32;
}

.offer-item .overlay img, 
.capabilities-item .overlay img{
    height: 70px;
    width: auto;
    margin-bottom: 100px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
}
.offer-item .overlay  h3, 
.capabilities-item .overlay  h3{
    font-size:30px;
    font-weight: 700;
    color:#fff;
    transition: 0.4s ease-out;
    position: absolute;
    bottom:60px;
}
.offer-item .overlay a, 
.capabilities-item .overlay a{
    color:#fff;
    font-size:16px;
}
.offer-item .overlay p, 
.capabilities-item .overlay p{
    max-height: 200px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
}

.offer-item:hover .overlay::before, 
.capabilities-item:hover .overlay::before{
    opacity: 1;
    visibility: visible;
    top:0;
}

.offer-item:hover .overlay::after, 
.offer-item:hover .overlay img, 
.offer-item:hover .overlay p, 
.capabilities-item:hover .overlay::after, 
.capabilities-item:hover .overlay img, 
.capabilities-item:hover .overlay p{
    opacity: 1;
    visibility: visible;
}

.offer-item:hover .overlay h3, 
.capabilities-item:hover .overlay h3{
    bottom:256px;
}

/* vehicles */
.vehicles .sub-header{
    color:#fff;
}
.vehicles a{
    color:#fff;
    margin:20px 0;
}
.vehicles p{
    color:#fff;
    margin-bottom: 0;
}


/* insights */
.insights-area .feature-img img{
    height:280px;
    object-fit: cover;
}
.feature-img:after{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(25, 61, 114, 0) 46.35%, rgba(0, 23, 51, 0.4) 85.8%);
    opacity: 0;
    visibility: hidden;
    transition:0.5s ease-in-out;
}
.feature-img span i{
    transition:0.3s ease-in-out;
}
.insights-area .item:hover .feature-img:after{
    opacity: 1;
    visibility: visible;
}
.insights-area .item:hover .feature-img span{
    background-color: #F92F49;
}
.insights-area .item:hover .feature-img span i{
    transform: scaleX(1.2);
}
.insights-area .item .body strong{
    margin:15px 0;
    display: inline-block;
    font-size:14px;
    line-height: 14px;
}
.insights-area .item .body h4{
    line-height: 30px;
    font-size:22px;
}
.insights-area .item .body h4 a{
    color:#001733;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.insights-area .item .body h4 a:hover{
    color:#94CC00;
}

/* upcoming event */
.upcoming-logo{
    background-color: #0072B6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upcoming-logo img{
    width: 100%;
}
.upcoming-text{
    padding:50px;
    background-color: #f2f2f2;
}

.upcoming-text h3{
    font-weight: 700;
    margin:10px 0;
}
.upcoming-text span{
    text-transform: uppercase;
}

/* footer */
.footer{
    background-color: #002E5F;
    border-top:8px solid #0072B6;
}
.footer-item ul{
    list-style: none;
    padding:0;
    margin:0;
}
.footer-item ul li{
    padding:7px 0;
}
.footer-item ul li a{
    text-decoration: none;
    color:#fff;
    transition: 0.5s ease-in-out;
}
.footer-item ul li a:hover{
    color:#94CC00;
}

.footer-item h4{
    text-transform: uppercase;
    color:#fff;
}

.social-links{
    display: flex;
    gap:15px;
}
.social-links img{
    height: 30px;
    width: auto;
}

/* copyright */
.copyright{
    background-color: #001733;
    color:#fff;
}
.copyright-navigation{
    list-style: none;
    padding:0;
    margin:0;
}
.copyright-navigation li{
    position: relative;
    line-height: 12px;
    display: inline-block;
}
.copyright-navigation li:not(:last-child){
    padding-right:10px;
    margin-right:10px;
}
.copyright-navigation li:not(:last-child):after{
    content:"";
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    right:0;
}
.copyright-navigation li a{
    color:#fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.copyright-navigation li a:hover, 
.copyright-navigation li a.active{
    color:#94CC00;
}


/* page banner */
.page-banner .banner-item{
    padding:60px 0;
    min-height: 400px;  
}

/* what makes us different */
.how-item{
    position: relative;
}
.how-item .overlay{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding:40px;
    transition: 0.5s ease-in-out;
}
.how-item .overlay h4{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color:#fff;
    font-size:24px;
    height: 100%;
    margin:0!important;
}
.how-item img{
    width: 100%;
    height:466px;
    object-fit: cover;
}
.how-item:hover .overlay{
    width: 110px;
}

.how-item > a{
    width: 84px;
    height: 84px;
    background-color:rgba(62, 68, 72, .6);
    display: inline-block;
    border-radius: 100%;
    text-decoration: none;
    color:#fff;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    opacity:0;
    visibility: hidden;
    transition: 0.6s;
}
.how-item > a:before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color:rgba(62, 68, 72, .4);
    border-radius: 100%;
    transform: scale(0.7);
    z-index: -1;
}
.how-item:hover > a{
    opacity: 1;
    visibility: visible;
}

/* affiliate brands */
.affiliate-brands .nav-tabs{
    border:0;
    justify-content: space-around;
}
.affiliate-brands .nav-link, 
.affiliate-brands .nav-tabs .nav-item.show .nav-link, 
.affiliate-brands .nav-tabs .nav-link.active{
    background-color: transparent;
    border:0;
    border-radius: 0;
}
.affiliate-brands .nav-tabs .nav-link img{
    filter:grayscale(100%);
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}
.affiliate-brands .nav-tabs .nav-link.active img, 
.affiliate-brands .nav-tabs .nav-link:hover img{
    filter:grayscale(0);
    opacity:1;
}
.brand-item{
    text-align: center;
}

/* how-we-make-difference */
.why-we-exist, .why-we-exist .row{
    position: relative;
    overflow: hidden;
}
.why-we-exist:before, .why-we-exist:after{
    content:"";
    position: absolute;
    bottom:-50px;
    left:-70px;
    background-image: url('assets/attachment/Our\ Mission\ Icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    width: 250px;
    height: 250px;
}
.why-we-exist:after{
    background-image: url('assets/attachment/Our\ Purpose\ Icon.svg');
    left:auto;
    bottom:-30px;
    right:-20px;
    width: 200px;
    height: 200px;
}
.why-we-exist .row:after{
    content:"";
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #A2A2A2;
    border-radius: 33px;
}
.exist-item h4{
    color:#001733;
    font-weight: 700;
}

/* who we are */
.team{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.team h4{
    color:#001733;
    font-weight: 700;
    font-size:30px;
}
.team-item img{
    width: 100%;
    transition: 0.5s ease-in-out;
    filter: grayscale(100%);
}
.team-item .team-img{
    position: relative;
}
.team-item .overlay-pop{
    position: absolute;
    left:50%;
    top:100%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000029;
    min-width:30rem;
    width: 100%;
    padding:20px;
    border-radius: 4px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
.team-item.show .overlay-pop{
    opacity: 1;
    visibility: visible;
}
.team-item .overlay-pop a.close{
    position: absolute;
    top:20px;
    right:20px;
    font-size:20px;
}
.team-item .overlay-pop h6{
    margin-bottom: 0;
}
.team-item .overlay-pop span{
    font-size:14px;
    color:#0072B6;
    display: inline-block;
    margin-bottom: 6px;
}
.team-item .overlay-pop p{
    font-size:13px;
    color:#707070;
}

.team-item:hover img, 
.team-item.show img{
    filter: grayscale(0);
}
.team-item span{
    color:#001733;
    font-style: italic;
}


/* how-to-work-with-us */
.how-to-work-with-us{
    background-repeat: no-repeat;
    background-position:top right;
}
.how-to-work-item .item:not(:last-child){
    margin-bottom: 30px;
}
.how-to-work-with-us-bg{
    padding:150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* contact */
.contact-us{
    background-repeat: no-repeat;
    background-position: right top;
}
.form-control:not(textarea){
    height: 53px;
}
.form-control{
    border:1px solid #B1B1B1;
    border-radius: 10px;
    padding-left:20px;
}
.form-control:focus{
    border-color:#0083C1;
    box-shadow:inset 0px 0px 0px 1px #0083C1!important;
}

.contact-us form button[type="submit"]{
    background-color: transparent;
    border:0;
    font-weight: 700;
    font-size:18px;
    padding:0;
}

/* what-we-do */
.services-and-capabilities h4{
    font-weight: 700;
    color:#001733;
}
.services-item{
    background-color: #fff;
    padding:30px;
    min-height:400px;
    height: 100%;
    position: relative;
}
.services-item img{
    height: 90px;
    margin-bottom:10px;
}
.services-item h6{
    font-weight: 700;
    font-size:18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.services-item p{
    height: 150px;
    overflow: hidden;
}
.services-item > a{
    position: absolute;
    left:30px;
    bottom:30px;
}

/* who-we-serve */
.who-we-serve p a{
    color:#fff;
}
.serve-items [class*='col-']:not(:last-child) .item{
    position: relative;
}
.serve-items [class*='col-']:not(:last-child) .item:after{
    content:"";
    position: absolute;
    top:0;
    right: -1.5em;
    width: 4px;
    height: 100%;
    background-color: #fff;
    border-radius: 33px;
}

/* clinical */
.support-phase-tabs{
    overflow: hidden;
}
.phases .item{
    background-color: #002E5F;
    color:#fff;
    font-weight: 700;
    padding:18px 30px;
    width: 320px;
    text-align: center;
    border-radius: 4px;
}
.phases i{
    font-size:30px;
}

.section-title-area h6{
    font-weight:700;
}

.support-phase-tabs .nav-pills .nav-link {
    text-align: left;
}
.support-phase-tabs .tab-pane {
    position: relative;
}
.support-phase-tabs .tab-pane:after {
    content: "";
    position: absolute;
    width: 500%;
    height: 100%;
    background: #f2f2f2;
    z-index: -1;
    left: 0;
    top: 0;
}
.support-phase-tabs .phase-tab-text{
    padding:30px;
}
.support-phase-tabs .tab-pane img{
    width: 100%;
    height:500px;
    object-fit: cover;
    position: relative;
    top:-80px;
    box-shadow: 0px 3px 10px #00000029;
}

.support-phase-tabs .tab-pane ul li{
    padding: 5px 0;
}

.support-phase-tabs .nav-link{
    font-weight: 700;
    font-size:18px;
    border-radius: 0;
    padding:20px 0;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#001733;
    margin:10px 0;
    transition: 0.5s;
    position: relative;
}
.support-phase-tabs .nav-link::after{
    content:"";
    position: absolute;
    right: 0;
    width:0;
    height:100%;
    background-color:#0072B626;
    z-index: -1;
    transition: 0.5s;
}
.support-phase-tabs .nav-link:hover{
    color:#94CC00;
}
.support-phase-tabs .nav-link:hover::after{
    width:8px;
}
.support-phase-tabs .nav-link i{
    font-size:28px;
}

.support-phase-tabs .nav-pills .nav-link.active, .support-phase-tabs .nav-pills .show>.nav-link {
    background-color:transparent;
    color:#001733;
}
.support-phase-tabs .nav-pills .nav-link.active::after, .support-phase-tabs .nav-pills .show>.nav-link::after{
    width: 500%;
}


/* says */
.says-area{
    position: relative;
}
.says-area::before, .says-area::after{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 58px;
    height: 58px;
    background-image: url('assets/attachment/Left\ Quote\ Icon.svg');
    background-size: contain;
}
.says-area::after{
    left:auto;
    top:auto;
    right:0;
    bottom:0;
    background-image: url('assets/attachment/Right\ Quote\ Icon.svg');
}
.say-item{
    padding:30px 200px;
    text-align: center;
    line-height:29px;
}
.say-item p{
    font-size:24px;
}

/* digital */
.product-img img{
    height: 300px;
}

/* quiries */
.quiries-item h4{
    color:#fff;
}
.quiries-item a{
    color:#fff;
}
.quiries [class*='col-']:not(:last-child){
    position: relative;
}
.quiries [class*='col-']:not(:last-child):after{
    content:"";
    position: absolute;
    right:0;
    top:0;
    width: 4px;
    height: 100%;
    background-color: #fff;
    border-radius: 33px;
}

/* blog */
.blog-area .item.full, 
.feature-img{
    position: relative;
    z-index: 1;
}
.blog-area .item.full .feature-img img{
    height: 350px;
    object-fit: cover;
    object-position:top;
}
.blog-area .item.full .feature-img:after{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: #0072B6!important;
    visibility: visible;
    opacity: 0.7;
    transition: 0.5s;
}

.item.full:hover .feature-img:after{
    background: #002E5F!important;
    opacity: 0.8;
}
.blog-area .item.full .body{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    padding:35px;
    color:#fff;
    z-index: 2;
}

.item .body h4 a, 
.item .body h5 a{
    text-decoration: none;
    color:#001733;
}
.item .body p{
    margin-bottom: 10px;
}
.blog-area .item.full .body .tags a{
    color:#fff;
}
.item .body .tags a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:12px;
    color:#A2A2A2;
}
.date{
    text-transform: uppercase;
    color:#A2A2A2;
}
.blog-area .item.full .body .date{
    color:#fff;
}
.blog-area .feature-img img, 
.events-area .feature-img img{
    height:180px;
    object-fit: cover;
}
.feature-img span{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:#F6AD32;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    right:0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.blog-area .item{
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-area .item:not(.full){
    border-bottom:2px solid #F2F2F2;
}
.blog-area .item:last-child{
    border:0;
}


.right-sidebar .blog-item{
    border-bottom: 2px solid #f2f2f2;
    padding-bottom:10px;
    margin-bottom: 10px;
}
.right-sidebar .blog-item a{
    text-decoration: none;
    color:#0072B6;
}
.right-sidebar .blog-item a:hover{
    text-decoration: underline;
}
.right-sidebar .blog-item .date{
    text-transform: uppercase;
    font-size:12px;
    color:#A2A2A2;
}

/* events */
.events-area .feature-img{
    overflow: hidden;
    margin-bottom: 10px;
}
.events-area .feature-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition:0.4s ease-in-out;
}
.events-area .item:not(:last-child){
    margin-bottom: 30px;
}
.events-area .item:hover img{
    transform: scale(1.1);
}

/* white papers */
.white-papers-area .item.full .feature-img img{
    height: 250px;
}

/* podcasts */
audio{
    width: 100%;
}

.item.full audio::-webkit-media-controls-play-button,
.item.full audio::-webkit-media-controls-panel {
  background-color: #A3C7EE;
}

/* article template */
.breadcrumb-item+.breadcrumb-item::before {
    content: '\F285';
    font-family: 'bootstrap-icons';
    color:#001733;
}
.breadcrumb a{
    text-decoration: none;
    color:#001733;
}
.single-content .section-header{
    border-bottom: 1px solid #001733;
    padding-bottom:25px;
    margin-bottom: 25px;
}
.single-content .date{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.single-content .column.first{
    background-color: #0072B6;
    padding:27px;
    border-radius:15px;
    color:#fff;
}
.single-content .column.first h4{
    margin-bottom:15px;
    line-height: 32px;
}
.single-content .column.first p{
    margin-bottom: 0;
}
/* page-content */
.page-content{
    background-position: top right;
    background-repeat: no-repeat;
}

/* pagination */
.pagination li a{
    color:#001733!important;
    background-color:#F2F2F2!important;
    border:0;
    position: relative;
}
.pagination li a:after{
    content:"";
    position: absolute;
    left:0;
    bottom:0;
    width:0;
    height: 2px;
    transition: 0.5s;
}
.pagination li a:hover::after, 
.pagination li a.active::after{
    background-color: #94CC00;
    width: 100%;
}
.pagination li:first-child a:hover::after, 
.pagination li:last-child a:hover::after{
    display: none;
}