@media(max-width:1200px) {
    .phases .nav {
        flex-wrap: wrap;
    }

    .phases .nav span {
        display: none;
    }

    /* what makes us different */
    .how-item.expand .title {
        width: 250px;
    }

    .how-item .body {
        padding-left: 290px;
    }

}

@media(min-width:991px){
    /* main navigation */
    .main-navigation li:hover .dropdown-menu{
        display: block!important;
        opacity: 1;
    }
    .main-navigation .dropdown-menu{
        opacity: 0;
    }
    .main-navigation li.dropdown > a ~ a{
        display: none;
    }
    
}

@media(max-width:991px) {
    
    .header-top-nav > .container{
        display: block!important;
    }
    .top-nav-content {
        display: block;
    }
    .top-nav-content .navbar-toggler {
        color: #fff;
    }

    .top-nav-content .navbar {
        padding: 0 !important;
    }

    .header-top-nav ul li:after {
        width: 0;
    }

    .header-top-nav ul li {
        margin: 0;
        padding: 12px;
    }

    /* banner */
    .banner video{
        display: none;
    }

    /* main navigation */
    .main-navigation .navbar-collapse {
        padding-top: 30px
    }
    .navbar-collapse li {
        padding: 0 12px;
    }
    .main-navigation li.dropdown > a ~ a{
        display: block;
    }

    .say-item {
        padding: 30px;
    }

    .support-phase-tabs .nav {
        margin-bottom: 30px;
    }

    .support-phase-tabs .nav-link {
        padding: 20px;
    }

    .support-phase-tabs .tab-pane img {
        top: auto;
    }

    .support-phase-tabs .phase-tab-text {
        padding: 0;
    }

    .support-phase-tabs .tab-pane {
        padding: 30px;
    }

    /* how-we-give */
    .how-we-make-difference .carousel-item.active {
        width: calc(100% - 100px);
        left: 50px;
    }

    /* what makes us different */
    .how-item.expand .title {
        width: 110px;
    }

    .how-item .body {
        padding:20px;
        padding-left: 130px;
    }

    .affiliate-brands .tab-pane .brand-text{
        margin-bottom: 30px;
    }

    /* what we do */
    .services-item{
        min-height:450px;
    }

    /* in the news */
    .upcoming-events{
        margin-top:30px;
    }
    .post-events .row [class*='col-']:not(:last-child) .item, 
    .events-area .row [class*='col-']:not(:last-child) .item{
        margin-bottom: 30px;
    }

}

@media(max-width:767px) {

    .blog-items {
        border: 0;
        padding: 0;
    }

    .pagination-area {
        margin-bottom: 30px;
    }

    .upcoming-events {
        margin-top: 30px;
    }

    .posts-events .row [class*='col-']:not(:last-child) .item,
    .insights-area [class*='col-']:not(:last-child) .item,
    .solution .row [class*='col-']:not(:last-child) .offer-item,
    .solution .row [class*='col-']:not(:last-child) .capabilities-item,
    .consultancy [class*='col-']:not(:last-child) .consultancy-item,
    .footer [class*='col-']:not(:last-child) .footer-item {
        margin-bottom: 30px;
        display: block;
    }

    /* article template */
    .single-content .column.first {
        margin-bottom: 20px;
    }

    .single-content .row {
        margin-bottom: 0 !important;
    }

    /* who we are */
    .team .row [class*='col-']:not(:last-child) .team-item{
        margin-bottom: 30px;
    }
    .why-we-exist:before{
        bottom: auto;
    }

    /* how-we-give */
    .how-we-make-difference .carousel-item.active {
        width: calc(100% - 50px);
        left: 25px;
    }

    .how-we-make-difference .carousel-inner {
        height: 600px;
    }

    .how-we-make-difference .carousel-item .img {
        text-align: center;
    }

    .how-we-make-difference .carousel-item .full .img img {
        height: auto;
    }

    /* what makes us different */
    .how-items{
        display: block!important;
    }
    .how-item.expand, .how-item {
        width: 100%!important;
        height: auto;
    }
    .how-item{
        height: 110px;
    }
    .how-item .title{
        width: 100%!important;
        height: 110px;
    }

    .how-item .body {
        padding:20px;
        position: static;
    }
    .how-item .title .overlay h4 {
        writing-mode: unset;
        transform: rotate(0);
    }
    .how-item .title .overlay {
        width: 100%;
    }

    /* what we do */
    .services-item, 
    .serve-items .wp-block-column{
        min-height:auto;
        height: auto;
    }
    .serve-items .wp-block-column:after {
       display: none;
    }
    

    /* insights and events */
    .quiries [class*='col-']:not(:last-child):after, 
    .serve-items .wp-block-columns:after, 
    .why-we-exist .wp-block-columns:after{
        display: none;
    }
    .quiries [class*='col-']:not(:last-child) .quiries-item, 
    .services-and-capabilities .row [class*='col-']:not(:last-child) .services-item{
        margin-bottom: 30px;
    }
}

@media(max-width:576px){
    .team-item .overlay-pop {
        min-width: auto;
        max-width: 30rem;
    }
}